<nav>
  <div class="logo">
    <a [routerLink]="'/'">
      <img src="https://cdn-icons-png.flaticon.com/128/11867/11867875.png" alt="Logo">
    </a>
  </div>

  <!-- Hamburger for mobile -->
  <div class="hamburger" (click)="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Navigation Menu -->
  <ul class="menu" [ngClass]="{ 'open': menuOpen }" #menu>
    <li><a [routerLink]="'/'" (click)="toggleMenu()">Home</a></li>
    <li><a [routerLink]="'/about'" (click)="toggleMenu()">About</a></li>
    <li><a [routerLink]="'/skills'" (click)="toggleMenu()">Skills</a></li>
    <li><a [routerLink]="'/projects'" (click)="toggleMenu()">Projects</a></li>
    <li><a [routerLink]="'/contact'" (click)="toggleMenu()">Contact</a></li>
  </ul>
</nav>
